.board {
    background-color: black;
    padding: 6px;
    margin: 10px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 6px;
    column-gap: 6px;
}

.item {
    padding: 1px;
    border: none;
    background-color: white;
    border-radius: 6px;
    grid-row: auto;
    grid-column: auto;
}

.item:focus {
    outline: none;
}

.spacer {
    padding-top: 100%;
}

img.marker {
    margin-bottom: -4px;
}